@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    box-sizing: border-box;
    background-color: #ccfcee;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    background-image: url(lobsta.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 236px;

}

div {
    background-image: url(lobsta.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.picture {
    height: 200px;
}

main {
    padding: 16px;
}

footer {
    padding: 5px 10px 5px 10px;
    background-color: #3e6c61;
    font-size: larger;
    color: bisque;
    border-top: 12px solid #7bd1b8;
    border-top-right-radius: 100px;
}

nav {
    background-color: #3e6c61;
    border-bottom: 32px solid #7bd1b8;
    padding: 16px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 32px;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
    row-gap: 20px;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
  }

table {
    text-align: center;
}

h1 {
    color: #3e6c61;
    text-align: center;
}

h2 {
    color: #7bd1b8;
    text-align: center;
}

.left-aligned {
    text-align: left;
}

.join-btn-img {
    border: 2px solid #f85e28;
    border-radius: 75px;
    cursor: pointer;
}

.join-btn-img:hover {
    background-color: #e1331b;
    box-shadow: 1px 5px 5px #f85e28, -1px -5px 5px #e1331b;
}

/* box-shadow: 1px 5px 5px #f85e28;
.test {
    :focus
    transition: margin-right 2s;
} */

.recipe-item {
    text-align: center;
    background-color: #3e6c61;
    border: 2px solid #3e6c61;
    border-radius: 20px;
}

a {
    text-shadow: 1px 1px 1px #e1331b;
    text-underline-offset: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* color palette
#e1331b reddish
#f85e28 orange
#ccfcee light minty blue
#7bd1b8 darker minty blue
#3e6c61 dark mint
*/
